{% extends 'index.html' %} {% block title %}
  Transactions history
{% endblock %}
{% block content %}
  <div id="wecome-page">
    <h1>Welcome in MyWallet app!</h1>
    <h3>Introduction</h3>
    <p>MyWallet is Web application that allows user to manage his stock market wallet. Project is part of the course AiTSI (Architektura i Technologie systemów informatycznych) on OKNO PW studies.</p>
    

    <h3>Key functionalities</h3>
    <p>The key functionalities of the application are:</p>
    <ul>
      <li>User can input his stock market transactions.</li>
      <li>User can edit or delete stock market transactions.</li>
      <li>User can find last known market price of the asset when entering transaction.</li>
      <li>User can see the return on investment portfolio based on transactions data and current stock values.</li>
      <li>User can see return per asset.</li>
      <li>User can see stock price charts.</li>
    </ul>

    <h3>Stock market data source</h3>
    <p>Stocks data is taken from historical values available on stooq.pl. Based on this data application computes the return on investment portfolios.</p>
    <a href="https://stooq.pl"><img src="https://static.stooq.pl/stooq.png" alt="Stooq.pl" class="stooq-img"></a>

    <h3>Technical stack</h3>

    <p>Application is written in python using framework Flask which was presented during the course.</p>
    <a href="https://flask.palletsprojects.com/en/3.0.x/"> <img src="https://flask.palletsprojects.com/en/2.0.x/_images/flask-logo.png" alt="Flask Framework" class="flask-img"> </a>

    <p>Data is store in SQL database</p>
    <img src="https://cdn-icons-png.flaticon.com/512/5815/5815886.png" alt="Sql database" class="sql-img">

    <p>JavaScript library jQuery is utilized for various client-side operations within the application, enhancing user experience and interactivity. </p>
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/JQuery_logo.svg/1280px-JQuery_logo.svg.png" alt="jQuery Logo" class="jquery-img">
  
    <h3>Why this application fullfil AiTSI (Architektura i Technologie systemów informatycznych) project requirements?</h3>
    <p>Author thinks that this application fullfil requirements because:</p>
    <ul>
      <li>Application is using valid HTML which pass all W3C validations.</li>
      <li>Application contains custom CSS styling. Application does not use Bootstrap library. Only datepicker, chart and icons are imported from external sources.</li>
      <li>Application is fully functional, it has consistent styling and keep up with current styling trends.</li>
      <li>Application is functional for disabled people. Navigation with keyboard is possible, images have their alternative texts.</li>
      <li>Application uses additional technologies like SQL, both JavaScript (for example as an action after button click to fetch current asset price) and server side scripts (to calculate and return current wallet summary)</li>
      <li>Application has navigation between several tabs - home, wallet details, transactions history, add transaction form, edit transaction form, user profile.</li>
      <li>Application is deployed and publicly available using Google Cloud services.</li>
    </ul>
  </div>
  
  </div>
{% endblock %}
