{% extends "index.html" %} {% block title %}Transactions history{% endblock %}
{% block content %}

<form id="transaction-form">
  <div class="form-row"><label>Asset:</label>
      <select id="asset-dropdown">
      {% for asset in assets %} 
        <option value="{{asset.id}}">{{ asset.name }}</option>
      {%endfor%}
      </select>
    </div>

  <div class="form-row"><label>Date:</label><input id="timestamp-input" type="text" autocomplete="off"></input></div>
  
  <div class="form-row"><label>Count:</label><input id="count-input" type="number" value="1"></input></div>
  <div class="form-row"><label>Price:</label><input id="price-input" type="number" value="0.00" step="0.01"></input></div>
  <div class="form-row"><label>Fees:</label><input id="fees-input" type="number" value="0.00" step="0.01"></input></div>
  <button>Submit</button>
</form>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

<script>
  $(document).ready(function () {
    $("#transaction-form").submit(function (event) {
      event.preventDefault();

      var jsonData = {
        count: $("#count-input").val(),
        price: $("#price-input").val(),
        fees: $("#fees-input").val(),
        assetId: $("#asset-dropdown").val(),
        timestamp: $("#timestamp-input").val()
      };

      $.ajax({
        url: "/transactions",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(jsonData),
        success: function (response) {
          console.log("Success:", response);
          window.location.href = "/transactions";
        },
        error: function (xhr, status, error) {
          console.error("Error:", error);
        },
      });
    });
  });

  $('#timestamp-input').datepicker({
    dateFormat: 'yy-mm-dd'
  });
</script>

{% endblock %}
