{% extends 'index.html' %} {% block title %}
  Transactions history
{% endblock %}
{% block content %}
  <div id="transactions-history">
    <table>
      <tr>
        <th>Date</th>
        <th>Asset</th>
        <th>Count</th>
        <th>Price</th>
        <th>Fees</th>
        <th>Options</th>
      </tr>
      {% for transaction in transactions %}
        <tr>
          <td>{{ transaction.timestamp }}</td>
          <td>{{ transaction.asset.name }}</td>
          <td>{{ transaction.count }}</td>
          <td>{{ transaction.price }} zł</td>
          <td>{{ transaction.fees }} zł</td>
          <td>
            <div id="row-option">
              <a href="transaction-edit/{{ transaction.id }}"><button><i class="fa fa-pencil"></i></button></a>
              <button class="delete-button" data-item-id="{{ transaction.id }}"><i class="fa fa-trash"></i></button>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>

    <div id="transactions-add-navigation-panel">
      <a href="transaction-add"><button>Add transaction</button></a>
    </div>
  </div>

  <script>
    // Example AJAX function
    function deleteTransaction(transactionId) {
      $.ajax({
        url: '/transactions/' + transactionId,
        type: 'DELETE',
        success: function (response) {
          console.log(response)
          window.location.href = '/transactions'
        },
        error: function (error) {
          console.error('Error:', error)
        }
      })
    }
    
    $(document).ready(function () {
      $('.delete-button').click(function () {
        var trnasactionId = $(this).data('item-id')
        deleteTransaction(trnasactionId)
      })
    })
  </script>
{% endblock %}
