{% extends 'index.html' %} {% block title %}
  Transactions history
{% endblock %}
{% block content %}
  <form id="transaction-form">
    <div class="form-row">
      <label>Asset:</label>
      <div class="value-column">
        <select id="asset-dropdown">
          {% for asset in assets %}
            {% if transactionToEdit.assetId == asset.id %}
              <option value="{{ asset.id }}" selected>{{ asset.name }}</option>
            {% else %}
              <option value="{{ asset.id }}">{{ asset.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-row">
      <label>Date:</label>
      <div class="value-column">
        <input id="timestamp-input" type="text" value="{{ transactionToEdit.timestamp }}" autocomplete="off" />
      </div>
    </div>
    <div class="form-row">
      <label>Count:</label>
      <div class="value-column">
        <input id="count-input" type="number" value="{{ transactionToEdit.count }}" />
      </div>
    </div>
    <div class="form-row">
      <label>Price:</label>
      <div class="value-column">
        <input id="price-input" type="number" value="{{ transactionToEdit.price }}" step="0.01" />
        <label>zł</label>
      </div>
    </div>
    <div class="form-row">
      <label>Fees:</label>
      <div class="value-column">
        <input id="fees-input" type="number" value="{{ transactionToEdit.fees }}" step="0.01" />
        <label>zł</label>
      </div>
    </div>

    <hr class="form-row" />

    <div class="form-row">
      <label>Total assets price:</label>
      <div class="value-column">
        <input id="total-price-input" type="text" value="0.00" disabled="true" />
        <label>zł</label>
      </div>
    </div>
    <div class="form-row">
      <label>Total price with fees:</label>
      <div class="value-column">
        <input id="total-price-with-fees-input" type="text" value="0.00" disabled="true" />
        <label>zł</label>
      </div>
    </div>

    <button>Edit transaction</button>
  </form>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

  <script>
    $(document).ready(function () {
      $('#transaction-form').submit(function (event) {
        event.preventDefault()
    
        var jsonData = {
          count: $('#count-input').val(),
          price: $('#price-input').val(),
          fees: $('#fees-input').val(),
          assetId: $('#asset-dropdown').val(),
          timestamp: $('#timestamp-input').val()
        }
    
        $.ajax({
          url: '/transactions/{{transactionToEdit.id}}',
          type: 'PUT',
          contentType: 'application/json',
          data: JSON.stringify(jsonData),
          success: function (response) {
            console.log('Success:', response)
            window.location.href = '/transactions'
          },
          error: function (xhr, status, error) {
            console.error('Error:', error)
          }
        })
      })

      $('#count-input, #price-input, #fees-input').on('input', function () {
        var count = parseFloat($('#count-input').val()) || 0
        var price = parseFloat($('#price-input').val()) || 0
        var fees = parseFloat($('#fees-input').val()) || 0
        var totalPrice = count * price
    
        $('#total-price-input').val(totalPrice.toFixed(2))
        $('#total-price-with-fees-input').val((totalPrice + fees).toFixed(2))
      })
    })

    $("#price-input, #fees-input").change(function() {
      $(this).val(parseFloat($(this).val()).toFixed(2));
    });
    
    $('#timestamp-input').datepicker({
      dateFormat: 'yy-mm-dd'
    })
  </script>
{% endblock %}
