{% extends "index.html" %} {% block title %}Transactions history{% endblock %}
{% block content %}

<script>
  $(document).ready(function () {
    // Attach submit event listener to the form
    $("#transaction-add-form").submit(function (event) {
      // Prevent the default form submission
      event.preventDefault();

      // JSON data to send
      var jsonData = {
        count: $("#count-input").val(),
        price: $("#price-input").val(),
        fee: $("#fee-input").val(),
        assetId: $("#asset-dropdown").val()
      };

      $.ajax({
        url: "/transactions",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(jsonData),
        success: function (response) {
          console.log("Success:", response);
          window.location.href = "/transactions";
        },
        error: function (xhr, status, error) {
          console.error("Error:", error);
        },
      });
    });
  });
</script>

<form id="transaction-add-form">
  <div class="form-row"><label>Asset:</label>
      <select id="asset-dropdown">
      {% for asset in assets %} 
        <option value="{{asset.id}}">{{ asset.name }}</td>
      {%endfor%}
    </select>
  </div>
  <div class="form-row"><label>Count:</label><input id="count-input" type="number"></input></div>
  <div class="form-row"><label>Price:</label><input id="price-input" type="number" step="0.01"></input></div>
  <div class="form-row"><label>Fee:</label><input id="fee-input" type="number" step="0.01"></input></div>
  <button>Submit</button>
</form>

{% endblock %}
