{% extends "index.html" %} {% block title %}Transactions history{% endblock %}
{% block content %}

<div id="transactions-history">
  <table>
    <tr>
      <th>Date</th>
      <th>Asset</th>
      <th>Count</th>
      <th>Price</th>
      <th>Fees</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
      <td>{{transaction.timestamp}}</td>
      <td>{{transaction.asset.name}}</td>
      <td>{{transaction.count}}</td>
      <td>{{transaction.price}} zł</td>
      <td>{{transaction.fees}} zł</td>
    </tr>
    {%endfor%}
  </table>

  <a href="transaction-add"><button>Add transaction</button></a>
</div>

{% endblock %}
