{% extends "index.html" %} {% block title %}Transactions history{% endblock %}
{% block content %} {% macro GainOrLoss(value, suffix) %} 
  {% if value > 0 %}
  <td class="gain">{{ FormatDecimal(value) }}{{suffix}}</td>
  {% elif value < 0 %}
  <td class="loss">{{ FormatDecimal(value) }}{{suffix}}</td>
  {% else %}
  <td class="neutral">{{ FormatDecimal(value) }}{{suffix}}</span>
{% endif %} {% endmacro %}

<div id="wallet-possitions">
  <table>
    <tr>
      <th>Asset name</th>
      <th>Open positions</th>
      <th>Current price</th>
      <th>Current asset worth</th>
      <th>Total cost</th>
      <th>Gain/Loss</th>
      <th>Gain/Loss %</th>
      <th>Asset Average buy price</th>
    </tr>
    {% for position in walletPositions %}
    <tr>
      <td>{{position.assetName}}</td>
      <td>{{ position.currentAssetCount }}</td>
      <td>{{ FormatDecimal(position.lastAssetCloseValue) }} zł</td> 
      <td>{{ FormatDecimal(position.currentAssetWorth)}} zł</td>
      <td>{{ FormatDecimal(position.transactionTotalCost) }} zł</td>
      {{ GainOrLoss(position.assetGain, ' zł') }}
      {{ GainOrLoss(position.assetPercentageReturn * 100, '%')}}
      <td>{{ FormatDecimal(position.assetAverageBuyPrice)}}</td>
    </tr>
    {%endfor%}
  </table>

  <a href="transaction-add"><button>Add transaction</button></a>
</div>

{% endblock %}
