{% extends "index.html" %} {% block title %}Transactions history{% endblock %}
{% block content %}

<div id="wallet-possitions">
  <table>
    <tr>
      <th>Asset</th>
      <th>Open positions</th>
      <th>Total cost</th>
    </tr>
    {% for position in walletPositions %}
    <tr>
      <td>{{position.assetName}}</td>
      <td>{{position.currentAssetCount}}</td>
      <td>{{position.transactionTotalCost}} USD</td>
    </tr>
    {%endfor%}
  </table>

  <a href="transaction-add"><button>Add transaction</button></a>
</div>

{% endblock %}
