<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Flask App{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='wallet-details.css') }}"
    />
  </head>
  <body>
    <div id="navigation-panel">
      <div id="home-nav">
        <a href="/home"
          ><button>
            <img
              id="my-wallet-home-image"
              src="{{ url_for('static', filename='walletHome.bmp') }}"
            /></button
        ></a>
      </div>

      <div id="actions-nav">
        <a href="/wallet-details"><button>Wallet Details</button></a>
        <a href="/transactions"><button>Transactions History</button></a>
      </div>

      <div id="profile-nav">
        <a href="/user-profile"><button>User Profile</button></a>
      </div>
    </div>

    <div id="application-content">
      <div id="summary-panel">
        <h3>Wallet Summary</h3>
        <p>TODO...</p>
      </div>

      <div id="main-content">{% block content %}{% endblock %}</div>
    </div>
  </body>
</html>
