body,
button {
  background-color: rgb(10, 10, 10);
  color: #f2f2f2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input,
select {
  color: white;
  background-color: rgb(56, 56, 56);
  border: 1px white solid;
  border-radius: 0.2rem;
}

input:disabled {
  color: rgb(125, 125, 125);
}

button {
  background-color: #9a5722;
  color: #f2f2f2;
  padding: 5px 10px 5px 10px;
  border: 1px #9a5722 solid;
  border-radius: 0.2rem;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  border: 1px white solid;
  box-shadow: 0px 0px 5px 0.1px #9a5722;
}

table {
  width: 100%;
}

td,
th {
  padding: 5px 10px 5px 10px;
  border: solid 1px black;
  text-align: center;
}

tr {
  background-color: rgb(40, 40, 40);
}

/* tr:hover {
  background-color: #9a5722;
} */

th {
  background-color: #9a5722;
}

.gain {
  color: rgb(60, 217, 60);
}

.neutral {
  color: orange;
}

.loss {
  color: red;
}

#navigation-panel {
  position: sticky;
  background-color: rgb(56, 56, 56);
  top: 0;
  display: flex;
  border-radius: 0.2rem;

  #home-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 15;

    a {
      padding: 1rem;
    }

    button {
      border: 0px;
      background-color: rgb(56, 56, 56);
      padding: 0px;
      margin: 0px;
    }

    #my-wallet-home-image {
      width: 100%;
    }
  }

  #actions-nav {
    display: flex;
    align-items: center;
    flex: 75;

    div {
      display: flex;
      gap: 1rem;
      padding: 0rem 1rem 0rem 1rem;
      width: 100%;
    }

    button {
      font-size: larger;
    }
  }

  #profile-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 10;
    padding-right: 1rem;

    button {
      font-size: larger;
    }
  }
}

#application-content {
  display: flex;

  #summary-panel {
    height: 100%;
    flex: 15;
    background-color: rgb(56, 56, 56);
    margin-top: 1rem;
    border-radius: 0.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    .summary-row {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  #main-content {
    flex: 85;
    width: 100%;
    margin: 1rem;
  }
}
