body,
button {
  background-color: rgb(10, 10, 10);
  color: #f2f2f2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input,
select {
  color: white;
  background-color: rgb(56, 56, 56);
  margin: 5px;
  padding: 5px;
  border: 1px white solid;
}

button {
  background-color: #9a5722;
  color: #f2f2f2;
  padding: 5px 10px 5px 10px;
  margin: 10px;
}

#navigation-panel {
  position: sticky;
  border: 1px white solid;
  padding: 0.5rem;
  background-color: rgb(56, 56, 56);
  top: 0;
  display: flex;

  #home-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 15;

    button {
      border: 0px;
    }

    #my-wallet-home-image {
      width: 80%;
    }
  }

  #actions-nav {
    display: flex;
    align-items: center;
    flex: 75;
  }

  #profile-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 10;
  }
}

#application-content {
  display: flex;

  #summary-panel {
    flex: 15;
    background-color: rgb(56, 56, 56);
    margin-top: 1rem;
    border-radius: 1rem;
  }

  #main-content {
    flex: 85;
    width: 100%;
  }
}
