#transaction-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .form-row {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;

    input, select {
      margin-left: 0px;
      width: 100%;
      padding: 5px;
    }

    .value-column {
      display: flex;
      width: 100%;
      flex: 1 1;
      align-items: center;
      gap: 5px;
    }

    label {
      flex: 1 1;
    }
  }
}
