.fa-trash {
  color: red;
}

.fa-pencil {
  color: orange;
}

#transactions-add-navigation-panel {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

#transactions-history {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}
