#transactions-add-navigation-panel {
  display: flex;
  padding: 1rem;
  justify-content: center;
}

#pie-chart-container {
  width: 400px;
  height: 400px;
  background-color: rgb(40, 40, 40);
  border-radius: 0.2rem;
}
